<app-menu-bar></app-menu-bar>
<br>
<div class="post">
    <a href="#" class="back-button">&#8592;</a>
    <img src="{{ link }}" alt="Banner do Post">
    <h2 class="post-title">{{ title }}</h2>
    <p class="post-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        rhoncus tortor, at tristique quam nisi sed purus.
        rhoncus tortor, at tristique quam nisi sed purus.
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        rhoncus tortor, at tristique quam nisi sed purus.
        rhoncus tortor, at tristique quam nisi sed purus.
        rhoncus tortor, at tristique quam nisi sed purus.

        <br>
        <br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.

        <br>
        <br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, nunc id ultrices ultrices, justo neque
        rhoncus tortor, at tristique quam nisi sed purus.
        rhoncus tortor, at tristique quam nisi sed purus.
        rhoncus tortor, at tristique quam nisi sed purus.
        rhoncus tortor, at tristique quam nisi sed purus.

    </p>
</div>
<br>
<app-custom-footer></app-custom-footer>