<div class="menu-wrapper">
    <div class="github-logo">
        <a href="https://github.com/Soljaa">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
        </a>
    </div>
    <div class="blog-logo">
        <a href="" style="text-decoration: none; color: inherit;">
            <b>Me. Blog</b>
        </a>
    </div>
    <div class="search-bar"><input type="text" id="search" placeholder="Pesquisar...">
        <button id="search-button">Buscar</button>
    </div>
</div>