<footer class="blog-footer">
    <div class="contact-info">
      <h3>Entre em Contato</h3>
      <p>E-mail: sunder@me-blog.com</p>
      <p>Telefone: (011) 92456-7890</p>
    </div>
    <div class="social-media">
      <h3>Redes Sociais</h3>
      <a href="#" class="social-link">Facebook</a>
      <a href="#" class="social-link">Twitter</a>
      <a href="#" class="social-link">Instagram</a>
    </div>
    <div class="copyright">
      <p>&copy; 2023 Me-blog. Todos os direitos reservados.</p>
    </div>
</footer>
